@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ng-hyper-loaded {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 125ms;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 125ms;
  animation-name: fadeIn;
  animation-duration: 125ms;
}

